.card-character {
  display: grid;
  grid-template-columns: 280px 1fr;
  border: 1px solid #666666;
  border-radius: 3px;
  max-width: 60%;
  padding: 20px;
}

.card-character__descr-item {
  display: flex;
  padding: 6px;
  border-radius: 4px;
}
.card-character__descr-item:nth-child(even) {
  background: rgb(65, 73, 79);
}

.card-character__descr-key {
  width: 100px;
}

.card-character__image {
  width: 250px;
  height: 250px;
  background-size: cover;
}