body {
  background: rgb(83, 92, 100);
  color: #fff;
}

a {
  color: #e5e5e5;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}

.content-container {
  padding: 20px;
}